﻿<head>

    <link href="~/Content/SelfmadeCss/ContactPageStyle.css" rel="stylesheet" type="text/css" />

    <style>
        .table > tbody > tr > td {
            vertical-align: middle;
        }

        .panel-heading {
            color: White;
            background-color: #90EE90;
            border-bottom: 4px double white;
        }

        .panel-default {
            border: 4px double #90EE90;
        }

        h2#lol {
            text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
            width: 5vw;
        }

        .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th {
            border: 1px solid #90EE90;
        }

        .btn-primary:focus,
        .btn-primary:active,
        .btn-primary.active {
            color: #ffffff;
            background-color: #000080;
            border-color: #000080;
        }
    </style>
</head>

@model IEnumerable<WebWinkel.Models.Knikkers>
@{
    decimal sum = 0;
    ViewBag.Title = "Store";
    string cartItems = ViewBag.cartItems;
    Dictionary<string, string> CartItemsDict = new Dictionary<string, string>();
    if (cartItems != null)
    {
        CartItemsDict = Cookies.CookieToDictionary(cartItems);
    }
    if (ViewBag.Lijst == null)
    {
        ViewBag.Lijst = Model;
    }
}

@using WebWinkel.Helpers
<center>
    <h1>Store</h1>
    <h2>@ViewBag.Message</h2>
</center>

<center>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-shopping-cart" style="width:100%" aria-hidden="true"></span><p class="panel-title">Shopping Cart</p>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table border="0" style="width:100%;">
                    <tr style="border-bottom: 1px solid #EEE;">
                        <th style="padding-bottom: 5px;"><center>Name</center></th>
                        <th style="padding-bottom: 5px;"><center>Amount</center></th>
                        <th style="padding-bottom: 5px;"><center>€ / Unit</center></th>
                        <th style="padding-bottom: 5px;"><center>Remove</center></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        if (CartItemsDict != null)
                        {
                            if (CartItemsDict.Keys.Contains(item.ID.ToString()))
                            {
                                sum += item.Prijs * Convert.ToDecimal(CartItemsDict[item.ID.ToString()]);
                                <tr>
                                    <td style="padding-left: 10px;"><center>@item.Naam</center></td>
                                    <td style="padding-left: 10px;"><center>@CartItemsDict[item.ID.ToString()]</center></td>
                                    <td><center>€ @item.Prijs.ToString("N2")</center></td>
                                    <td><center>@Html.ActionLink(" ", "RemoveFromCart", new { id = item.ID }, new { @class = "glyphicon glyphicon-remove", @style = "color: red;" })</center></td>
                                </tr>
                            }
                        }
                    }
                </table>
                <hr />
                <div>
                    <h3 style="margin-top: 15px;">
                        <strong>Total: </strong>€ @sum.ToString("N2")
                    </h3>
                    @if (new Cookies().VerifyData(HttpContext.Current.Request["KnikkersStore"]) && new Cookies().User(HttpContext.Current.Request["KnikkersStore"]) != "Admin")
                    {
                        @Html.ActionLink("Order Now", "CheckoutCart", new { cookie = HttpContext.Current.Request["KnikkersStore"] }, new { @class = "btn btn-success" })
                    }

                    <p style="color: red; margin-top: 10px; margin-bottom: 0px;"><b>@ViewBag.CartMessage</b></p>
                </div>
            </div>
        </div>
    </div>
</center>

@if (ViewBag.SearchMessage != null)
{
    <div class="alert alert-danger" role="alert"><center style="font-size:20px;"><p class="glyphicon glyphicon-search" id="searchmarginright"></p>"@ViewBag.SearchMessage"<p class="glyphicon glyphicon-search" id="searchmarginleft"></p></center></div>
}

<div class="panel panel-default" style="margin-top: 30px;">
    @using (@Html.BeginForm("Store", "Store", FormMethod.Get))
    {
        <div class="panel-heading col-md-12">
            <h2 id="lol" style="width:auto; float:left; margin-top: 0px; margin-bottom: 0px;">Marbles</h2>
            <div>
                <div class="input-group">
                    <input name="searchBoxValue" style="float:right;" type="text" class="form-control" id="lolll" placeholder="Search for..." />
                    <div class="btn-group" data-toggle="buttons" style="float:right">
                        <label class="btn btn-primary active">
                            <input name="searchValue" value="Name" type="radio" checked="checked">Name
                        </label>
                        <label class="btn btn-primary" id="colorlabel">
                            <input name="searchValue" value="Color" type="radio">Color
                        </label>
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    }
    <table class="table table-bordered" id="loll">
        <thead>
            <tr>
                <th class="col-md-2">
                    <center>
                        @Html.DisplayNameFor(model => model.Foto)
                    </center>
                </th>
                <th class="col-md-1">
                    <center>
                        @Html.DisplayNameFor(model => model.Naam)
                    </center>
                </th>
                <th class="col-md-1">
                    <center>
                        @Html.DisplayNameFor(model => model.Grootte)
                    </center>
                </th>
                <th class="col-md-1">
                    <center>
                        @Html.DisplayNameFor(model => model.Kleur)
                    </center>
                </th>
                <th class="col-md-1">
                    <center>
                        @Html.DisplayNameFor(model => model.Materiaal)
                    </center>
                </th>
                <th class="col-md-1">
                    <center>
                        @Html.DisplayNameFor(model => model.Prijs)
                    </center>
                </th>
                <th class="col-md-2">
                    <center>
                        Options
                    </center>
                </th>
            </tr>
        </thead>

        @foreach (var knikker in (List<WebWinkel.Models.Knikkers>)ViewBag.Lijst)
        {
            <tbody>
                <tr>
                    <td>
                        <center>
                            <img style="max-width:150px; width: 100%; -webkit-filter: drop-shadow(5px 5px 5px #222); filter: drop-shadow(5px 5px 5px #222);" src="@Url.Content(@knikker.Foto)" />
                        </center>
                    </td>
                    <td>
                        <center>
                            @Html.DisplayFor(modelItem => knikker.Naam)
                        </center>
                    </td>
                    <td>
                        <center>
                            @Html.DisplayFor(modelItem => knikker.Grootte)mm
                        </center>
                    </td>
                    <td>
                        <center>
                            @Html.DisplayFor(modelItem => knikker.Kleur)
                        </center>
                    </td>
                    <td>
                        <center>
                            @Html.DisplayFor(modelItem => knikker.Materiaal)
                        </center>
                    </td>
                    <td>
                        <center>
                            € @Html.DisplayFor(modelItem => knikker.Prijs)
                        </center>
                    </td>

                    <td>
                        @if (CartItemsDict.Keys.Contains(knikker.ID.ToString()))
                        {
                            <center>
                                <p class="glyphicon glyphicon-shopping-cart" style="font-size:3vw;"></p>
                                <p>In Shopping Cart</p>
                            </center>
                        }
                        else
                        {
                            string temp = "input" + knikker.ID;
                            using (Html.BeginForm("AddToCart", "Store", new { id = knikker.ID }, FormMethod.Get))
                            {
                                <center>
                                    <button class="btn btn-primary" style="width:100%; max-width: 49px" ; type="submit" value="temp"><p style="font-size:20px;" class="glyphicon glyphicon-plus-sign"></p></button>
                                </center>//Temp styling
                                        <center>
                                            <input class="form-control" type="number" name=@temp value="1" style="width:100%; max-width: 70px; min-width:49px; margin-top: 5px; font-size: 15px" ; min="1" />
                                        </center>
                            }
                        }
                    </td>

                </tr>
            </tbody>
        }
    </table>
</div>