﻿<head>
    <link href="~/Content/SelfmadeCss/LoginPageStyle.css" rel="stylesheet" type="text/css" />
    <style>
        p {
            margin-bottom: 2px;
        }

        .body-content {
            margin-top: 1%;
            min-width: 270px;
            max-width: 500px;
        }
    </style>
</head>

@model WebWinkel.Helpers.Register
@{
    ViewBag.Title = "Sign Up";
}

<div>
    <center>
        <img style="margin-right:16%;" src="~/Content/Images/earth_orb_icon_by_pokehkins.png" alt="logo" />
        <h2 style="display:inline-block; margin-right:38.5%;">Sign Up</h2>
        <hr />
    </center>
    <center>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <p style="color: red"><b>@Html.ValidationMessageFor(o => o)</b></p>

            <p>@Html.LabelFor(o => o.Voornaam, "Given name:")</p>
            <p>@Html.TextBoxFor(o => o.Voornaam, new { @class = "form-control", placeholder = "John" })</p>
            <p style="color: red"><b>@Html.ValidationMessageFor(o => o.Voornaam)</b></p>
            <br />
            <p>@Html.LabelFor(o => o.Familienaam, "Surname:")</p>
            <p>@Html.TextBoxFor(o => o.Familienaam, new { @class = "form-control", placeholder = "F.Rambo" })</p>
            <p style="color: red"><b>@Html.ValidationMessageFor(o => o.Familienaam)</b></p>
            <br />
            <p>@Html.LabelFor(o => o.Straat, "Street:")</p>
            <p>@Html.TextBoxFor(o => o.Straat, new { @class = "form-control", placeholder = "Rue du bois" })</p>
            <p style="color: red"><b>@Html.ValidationMessageFor(o => o.Straat)</b></p>
            <br />
            <p>@Html.LabelFor(o => o.Huisnummer, "Number:")</p>
            <p>@Html.TextBoxFor(o => o.Huisnummer, new { @class = "form-control", placeholder = "69" })</p>
            <p style="color: red"><b>@Html.ValidationMessageFor(o => o.Huisnummer)</b></p>
            <br />
            <p>@Html.LabelFor(o => o.PostcodeID, "City:")</p>
            <p>@Html.DropDownList("PostcodeID", (IEnumerable<SelectListItem>)ViewBag.PriorityID, new { @class = "form-control" })</p>
            <p style="color: red"><b>@Html.ValidationMessageFor(o => o.PostcodeID)</b></p>
            <br />
            <p>@Html.LabelFor(o => o.Land, "Country:")</p>
            <p>@Html.TextBoxFor(o => o.Land, new { @class = "form-control", placeholder = "Belgium" })</p>
            <p style="color: red"><b>@Html.ValidationMessageFor(o => o.Land)</b></p>
            <br />
            <p>@Html.LabelFor(o => o.Email, "E-mail:")</p>
            <p>@Html.TextBoxFor(o => o.Email, new { @class = "form-control", placeholder = "John.F.Rambo@hotmail.com" })</p>
            <p style="color: red"><b>@Html.ValidationMessageFor(o => o.Email)</b></p>
            <br />
            <p>@Html.LabelFor(o => o.UserName, "Username:")</p>
            <p>@Html.TextBoxFor(o => o.UserName, new { @class = "form-control", placeholder = "RamboThe~ONE~AndOnly" })</p>
            <p style="color: red"><b>@Html.ValidationMessageFor(o => o.UserName)</b></p>
            <br />
            <p>@Html.LabelFor(o => o.Password, "Password:")</p>
            <p>@Html.PasswordFor(o => o.Password, new { @class = "form-control", placeholder = "Password" })</p>
            <p style="margin-bottom: 20px; color: red;"><b>@Html.ValidationMessageFor(o => o.Password)</b></p>

            <button type="submit" class="btn btn-primary">Sign Up</button>
        }
    </center>
</div>
