﻿@model WebWinkel.Models.Knikkers

@{
    ViewBag.Title = "Edit";
}

<head>
    <link href="~/Content/SelfmadeCss/LoginPageStyle.css" rel="stylesheet" type="text/css" />
    <style>
        p {
            margin-bottom: 2px;
        }

        .body-content {
            margin-top: 1%;
            min-width: 270px;
            max-width: 435px;
        }

        .col-md-2 {
            padding-right: 0px;
        }
    </style>
</head>

<ol class="breadcrumb">
    <li>Administrator</li>
    <li class="text-primary"><b>Edit Marble</b></li>
</ol>

<center><h4>@Model.Naam</h4></center>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        <b>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</b>
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Naam, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Naam, new { htmlAttributes = new { @class = "form-control" } })
                <b>@Html.ValidationMessageFor(model => model.Naam, "", new { @class = "text-danger" })</b>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Grootte, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Grootte, new { htmlAttributes = new { @class = "form-control" } })
                <b>@Html.ValidationMessageFor(model => model.Grootte, "", new { @class = "text-danger" })</b>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kleur, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Kleur, new { htmlAttributes = new { @class = "form-control" } })
                <b>@Html.ValidationMessageFor(model => model.Kleur, "", new { @class = "text-danger" })</b>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Materiaal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Materiaal, new { htmlAttributes = new { @class = "form-control" } })
                <b>@Html.ValidationMessageFor(model => model.Materiaal, "", new { @class = "text-danger" })</b>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prijs, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Prijs, new { htmlAttributes = new { @class = "form-control" } })
                <b>@Html.ValidationMessageFor(model => model.Prijs, "", new { @class = "text-danger" })</b>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Foto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Foto, new { htmlAttributes = new { @class = "form-control" } })
                <b>@Html.ValidationMessageFor(model => model.Foto, "", new { @class = "text-danger" })</b>
            </div>
        </div>

        <div class="form-group">
            <center>
                <input type="submit" value="Save" class="btn btn-primary" />
            </center>
        </div>
    </div>
}

<div>
    <center>
        @Html.ActionLink("Back to List", "Admin")
    </center>
</div>

